.searchbox{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: solid 1px black;
}

.searchbutton{
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.searchpicture{
    height: 18px;
    width: 17px;

}

.searching_card{
    max-width: calc(33.33% - 20px); 
  box-sizing: border-box; 
  margin-bottom: 20px; 

}
.CardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 items per row */
    gap: 20px; /* Adjust the gap as needed */
  }
