* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

ul {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

#root {
	width: 100vw;
	height: 100vh;
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {
	display: flex;
	gap: 4px;
}
.header__menu__item a {
	text-decoration: none;
}

.aboutUs {
	display: flex;
	flex-direction: column;
}

.name-button {
	text-align: center;
	width: 10rem;
	height: 2rem;
	padding: 4px 10px;
	margin-top: 1rem;
	background-color: #506b88;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	text-decoration: none;
	transition: background-color 0.3s;
}

.name-button:hover {
	background-color: #193758;
}

/* About me section */
