/* Navbar.css */

.header {
  display: flex;
  justify-content: center; 
  align-items: center;   
  background-color: #2f2f2f; 
  height: 70px;           
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu__item {
  margin: 10px;
}
.header__menu__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.profile-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 50px;
}
